{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
      "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
      "sourceType": "module", // Allows for the use of imports
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "plugins": [
      "@typescript-eslint"
  ],
  "extends": [
      "plugin:react/recommended",
    //   "plugin:prettier/recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier"
  ],
  "env": {
      "browser": true,
      "node": true
  },
  "rules": {
      "quotes": ["error", "single"],
      "@typescript-eslint/no-explicit-any": false,
      "comma-dangle": ["error", "never"],
      "eqeqeq": ["error", "always", { "null": "ignore" }]
  }
}